<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HWCollectionViewGridLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftWaterfallLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UICollectionViewLayoutDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F2FF1CB1E8EF2B700191950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2FF1E41E8EF2B800191950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2FF1EF1E8EF2B800191950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F376B711E952E890035EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F376B891E952E890035EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F376B941E952E8A0035EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F376BA81E952F220035EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F376BBB1E952F230035EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F376BC61E952F230035EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F5FC6B91E9535020067CBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F5FC6D11E9535030067CBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F5FC6DC1E9535030067CBCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
